.container{
	width: 700px;
	margin: 40px auto;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}

.panel-design {
	background-color: white;
	padding: 40px;
	box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
	border-radius: 4px;
	margin: 30px;
	text-align: center;
}

.img-circle {
	border-radius: 50%;
}

.btn-blue {
	background-color: #ff7b7b;
	color: white;
	padding: 7px 11px;
	border-raduis: 8px;
}

.btn-blue i:hover {
	color: royalblue;
}

.list-inline {
	list-style: none;
	padding-left: 0px;
}

.list-inline li {
	dispaly: inline;
	padding: 10px;
}

.list-inline i {
	font-size: 30px;
	color: #ff7b7b;
}

.list-inline i:hover {
	color: royalblue;
}

#introduction p {
	margin-bottom: 40px;
}

